@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Noto+Serif+TC:wght@200..900&display=swap");

@font-face {
  font-family: jinkaiFont;
  src: url("../fonts/jinkai.ttf") format("TrueType");
  font-display: swap;
}
